<style>
.form { 
    text-align: center;
    }
body { 
    background: url("https://i.ibb.co/GT24R4t/Brown-and-Orange-Neutral-Delicate-Organic-Fashion-Marketing-Presentation-8.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }  

    h1 {
        font-family: Comic Sans MS, Comic Sans, cursive;
    }
</style>
<body>

<div class= "form">
<img src="https://i.ibb.co/cyXRxyX/Screen-Shot-2021-04-01-at-3-37-04-PM.png" style="width:200px;height:142px;">
<h1> Create a Project </h1> 
<hr>
<%= render 'form'%>
</div>